<div class="card__design intro--primary">
  <h1>Purpose</h1>
  <div class="content">
    <img src="images/Purpose.jpg" alt="Purpose" data-aos="slide-right" />
    <p class="box2" data-aos="fade-up">
      <span class="icon-container container--color1">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
      Owen is organizing a completely free tutoring event for both tutors and
      tutees to share their knowledge and grow with each other. Whether you are
      passionate about teaching, struggling to score higher, want to gain
      volunteer certificates, or recieve free tutoring by selected tutees, this
      would be a fantastic opportunity for you. Owen will create group chats on
      different platforms such as Instagram, Wechat and Snapchat and add people
      in.
      <em
        >Note: All these group chats ban advertisements and sensitive content!
        It is not tolerent to violate other people's value and property.
      </em>
    </p>
  </div>
</div>
