<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial scale=1.0" />
    <meta name="keywords" content="HTML, CSS" />
    <meta name="description" content="..." />
    <title>Owen's Portfolio</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <div class="tutoring_intro intro--primary" data-aos="fade-up">
      <h1>Purpose</h1>
      <div class="content">
        <img src="images/Purpose.jpg" alt="" />
        <p class="box2">
          Owen is organizing a completely free tutoring event for both tutors
          and tutees to share their knowledge and grow with each other. Whether
          you are passionate about teaching, struggling to score higher, want to
          gain volunteer certificates, or recieve free tutoring by selected
          tutees, this would be a fantastic opportunity for you. Owen will
          create group chats on different platforms such as Instagram, Wechat
          and Snapchat and add people in.
          <em
            >Note: All these group chats ban advertisements and sensitive
            content! It is not tolerent to violate other people's value and
            property.
          </em>
        </p>
      </div>
    </div>
    <div class="tutoring_intro intro--secondary" data-aos="fade-up">
      <h1>How to register</h1>
      <div class="content">
        <img src="images/question.jpg" alt="" />
        <p class="box2">
          The way to register is very simple. Scroll down to the form, fill out
          necessary information. If you have further concerns or questions, type
          in the textarea at the bottom. For tutees, state the subject/subjects
          you need help with. For tutors, I would like to know about you more.
          There will be a short interview arranged according to your preference
          time. So please fill out your email address. I will contact you as
          soon as I can.
        </p>
      </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
