<div class="quote__block" data-aos="zoom-in">
  <h2 class="quote__heading">Quotes</h2>
  <div class="testimonial">
    <div class="grid grid--1x2">
      <div class="images">
        <img src="images/Piano3.JPG" alt="Owen plays the piano" />
        <span class="icon__adjust icon-container container--color4">
          <svg class="icon icon--accent">
            <use xlink:href="images/sprite.svg#quote"></use>
          </svg>
        </span>
      </div>
      <blockquote class="quote">
        <p class="quote__text">
          Image that each small habit is one percent of improvement. Even though
          these is no upperbound, you can take yourself to a far-from-beyond
          place where people cannot reach.
        </p>
        <p class="quote__text">整理整頓は仕事ではなく、習慣です。</p>
        <footer>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">Owen Zheng</h3>
              <p class="quote__organization">École Panorama Ridge Secondary</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
